#txtCustomerNameSearch {
    width: 100%; 
    font-size: 14px;
    padding: 5px 18px 5px 38px;
    border: 1px solid #ddd; 
    margin-bottom: 12px;
}

#optVehicleStatus {
    width: 100%;
    font-size: 16px;
    padding: 5px 18px 5px 45px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.filterPanel {
    padding-top: 10px;
    margin-top: 10px;
}

.filterLabelFont {
    font-size: 16px;
    color: dimgray;
}

.vehicleTable {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.customerTable {
    margin-top: 15px;
    margin-bottom: 15px;
}

.vehicle-td {
    font-size: 20px;
    margin-left: 25px;
}

.userIconDiv{
    float:left;
    margin-top:10px
}
